<% content_for :title do %>
  <%= @proyecto.nombre %>
<% end %>

<% if rol 'sm' %>
  <% content_for 'special_links' do %>
      <%= link_to 'Editar', edit_proyecto_path(@proyecto) %>
      | <%= link_to 'Usuarios', proyecto_usuarios_path(@proyecto) %>
  <% end %>
<% end %>

<div style="overflow:hidden">
  <div style="float:left;width:60%">
  <p>
    <%= @proyecto.descripcion %>
  </p>

  <p>
    <b>Fecha entrega:</b>
    <%= @proyecto.fecha_entrega %>
    <br>
    <b>Duracion sprint:</b>
    <%= @proyecto.duracion_sprint %>
  </p>
  </div>
  <div style="float:right;width:40%">
    <img style="width:340px;height:190px" src="https://img.skitch.com/20111005-gep7bafauywb2ayusst1u1y7nb.jpg"/>
  </div>
</div>

<h2>Backlog</h2>
<table>
  <tr>
    <th>Titulo</th>
    <th>Avance</th>
    <th>Complejidad</th>
    <th></th>
  </tr>

<% @proyecto.userstory.order(:prioridad).comenzadas.each do |userstory| %>
  <tr>
    <td><%= link_to truncate(userstory.titulo, :length => 80), proyecto_userstory_path(@proyecto, userstory) %></td>
    <td><%= userstory.porcentaje_avance %></td>
    <td><%= userstory.complejidad %></td>
    <td style="text-align:right">
    <% if rol 'po' %>
      <%= link_to 'Editar', edit_proyecto_userstory_path(@proyecto, userstory) %>
      | <%= link_to 'Eliminar', proyecto_userstory_path(@proyecto, userstory), :confirm => 'Eliminar user story?', :method => :delete %></td>
    <% end %>
    </td>
  </tr>
<% end %>
<tr><td colspan=4 style="background-color:#ddd;"></td></tr>
<% @proyecto.userstory.order(:prioridad).sin_comenzar.each do |userstory| %>
  <tr>
    <td><%= link_to truncate(userstory.titulo, :length => 80), proyecto_userstory_path(@proyecto, userstory) %></td>
    <td><%= userstory.porcentaje_avance %></td>
    <td><%= userstory.complejidad %></td>
    <td style="text-align:right">
    <% if rol 'po' %>
      <%= link_to 'Editar', edit_proyecto_userstory_path(@proyecto, userstory) %>
      | <%= link_to 'Eliminar', proyecto_userstory_path(@proyecto, userstory), :confirm => 'Eliminar user story?', :method => :delete %></td>
    <% end %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan=4 style="text-align:center;background-color:#ddd">
    Mostrando solo tareas sin completar. <%= link_to 'Ver todas', proyecto_userstories_path(@proyecto) %>.
  </td>
</tr>
</table>
