<% content_for :title do %>
  <%= @tarea.titulo %>
<% end %>

<p>
  <b>Descripcion:</b>
  <%= @tarea.descripcion %>
</p>

<p>
  <b>Porcentaje avance:</b>
  <%= @tarea.porcentaje_avance %>
  <br>
  <b>Horas dedicadas:</b>
  <%= @tarea.horas_dedicadas %>
</p>


<%= link_to 'Editar', edit_proyecto_userstory_tarea_path(@proyecto, @userstory, @tarea) %> |
<%= link_to 'Backlog', proyecto_userstory_path(@proyecto, @userstory) %>
