<p>
  <b>Titulo:</b>
  <%= @tarea.titulo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @tarea.descripcion %>
</p>

<p>
  <b>Porcentaje avance:</b>
  <%= @tarea.porcentaje_avance %>
</p>

<p>
  <b>Horas dedicadas:</b>
  <%= @tarea.horas_dedicadas %>
</p>


<%= link_to 'Editar', edit_proyecto_userstory_tarea_path(@proyecto, @us, @tarea) %> |
<%= link_to 'User Story', proyecto_userstory_path(@proyecto, @us) %>
