<%= form_for([@proyecto, @userstory]) do |f| %>
  <% if @userstory.errors.any? %>
    <div id="error_explanation">
        <p class="error">
        <%= pluralize(@userstory.errors.count, "error", "errores") %> guardando user story:<br>
        <% @userstory.errors.full_messages.each do |msg| %>
            - <%= msg %><br>
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo, :class => 'title' %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :prioridad %>:
    <%= f.slider :prioridad, :inverted => true %>
  </div>
  <div class="field">
    <%= f.label :complejidad %>:
    <%= f.slider :complejidad %>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar', :'data-disable-with' => 'Guardando...' %>
  </div>
<% end %>
