<% content_for :title do %>
  Backlog
<% end %>

<% content_for :scpecial_links do %>
  <%= link_to 'Nueva Userstory', new_proyecto_userstory_path %>
<% end %>

<table>
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Prioridad</th>
    <th>Complejidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userstories.each do |userstory| %>
  <tr>
    <td><%= userstory.titulo %></td>
    <td><%= userstory.descripcion %></td>
    <td><%= userstory.prioridad %></td>
    <td><%= userstory.complejidad %></td>
    <td><%= link_to 'Ver', proyecto_userstory_path(@proyecto, userstory) %></td>
    <td><%= link_to 'Editar', edit_proyecto_userstory_path(@proyecto, userstory) %></td>
    <td><%= link_to 'Eliminar', proyecto_userstory_path(@proyecto, userstory), :confirm => 'Eliminar tarea?', :method => :delete %></td>
  </tr>
<% end %>
</table>
