<% content_for :title do %>
  <%= @userstory.titulo %>
<% end %>

<p>
  <b>Descripcion:</b>
  <%= @userstory.descripcion %>
</p>

<p>
  <b>Prioridad:</b>
  <%= @userstory.prioridad %>
  <br>
  <b>Complejidad:</b>
  <%= @userstory.complejidad %>
</p>

<%= link_to 'Editar', edit_proyecto_userstory_path(@proyecto, @userstory) %> |
<%= link_to 'Backlog', proyecto_userstories_path %>
