<% content_for :title do %>
  <%= @usuario.nombre or @usuario.username %>
<% end %>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
  <br>
  <b>Rol:</b>
  <%= @usuario.get_rol %>
  <br>
  <b>Email:</b>
  <%= @usuario.email %>
</p>


<%= link_to 'Editar', edit_proyecto_usuario_path(@proyecto, @usuario) %> |
<%= link_to 'Volver a usuarios', proyecto_usuarios_path %>
