<p>
  <b>Username:</b>
  <%= @usuario.username %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Rol:</b>
  <%= @usuario.get_rol %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>


<%= link_to 'Editar', edit_proyecto_usuario_path(@proyecto, @usuario) %> |
<%= link_to 'Volver a usuarios', proyecto_usuarios_path %>
