<!DOCTYPE html>
<html>
<head>
<title>
  <% if content_for(:title).include? 'Proad' %>
    <%= content_for(:title) %>
  <% else %>
    <%= content_for(:title) + ' - Proad' %>
  <% end %>
</title>
      
  <%= stylesheet_link_tag 'screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.14.custom' %>
  <%= stylesheet_link_tag 'principal' %>
<!--[if lt IE 8]>
  <%= stylesheet_link_tag 'ie', media: 'screen, projection' %>
<![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<div class="container">

  <%= render "shared/mast" %>

  <div id="content">
    <%= render "shared/breadcrumbs" %>
    <%= render "shared/notices" %>
    <h1><%= content_for :title %></h1>
    <%= yield %>
  </div>

  <%= render "shared/footer" %>

</div>

</body>
</html>
